<h1>TODO List</h1>

<% if @tasks.length != 0 %>
  <table border="1" style="border-color: black;">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% @tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.description %></td>
      <td><%= link_to '詳細', task_path(task) %></td>
      <td><%= link_to '編集', edit_task_path(task) %></td>
      <td><%= link_to '削除', task_path(task), method: :delete %></td>
    </tr>
    <% end %>
  </table>
<% else %>
  <p>NO TASK</p>
<% end %>
<p><%= link_to 'ToDoの作成', new_task_path %></p>

